/*
      ,a8a,                              d8'          
     ,8" "8,                            d8'           
     d8   8b                           ""             
     88   88                                          
     88   88                                          
     Y8   8P  ,ggg,,ggg,     ,gggg,gg          ,g,    
     `8, ,8' ,8" "8P" "8,   dP"  "Y8I         ,8'8,   
8888  "8,8"  I8   8I   8I  i8'    ,8I        ,8'  Yb  
`8b,  ,d8b, ,dP   8I   Yb,,d8,   ,d8b,      ,8'_   8) 
  "Y88P" "Y88P'   8I   `Y8P"Y8888P"`Y8      P' "YY8P8P

ascii-art (option nvscript) from https://ascii-generator.site/ by @hermanTenuki on Github

Also good: 
 - big
 - broadway
 - caligraphy
 - cards
 - danc4
 - dancingfont
 - dotmatrix
 - larry3d
 - pawp
 - script
 - standard
 - stforek
 - sub-zero


 * Produced by @I7T5
 * Heavily based on lanyon(https://github.com/poole/lanyon) by @mdo (MIT License)
 *
 */



/*
 * Contents
 *
 * Variables
 * Global resets
 * Container
 * Navbar
 * Posts and pages
 * Pagination
 * Dark Mode
 */


/*
 * Variables
 *
 * Bootstrap
 */
 
:root {
  --bs-blue: #0d59f2;
  --bs-purple: #7126d9;
  --bs-red: #fb5151;
  --bs-font-monospace: "Input Mono", "Input Mono Narrow", ui-monospace, Menlo, Monaco, monospace; 
  --bs-body-font-family: system-ui, -apple-system, Roboto, "Segoe UI", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-color: #515151;
  --bs-body-bg: #fff;
  --bs-border-color: #e5e5e5;
  --bs-link-color: #0d59f2;
  --bs-link-unfocused-color: #0d59f280;
  --bs-link-visited-color: hsl(220deg 90% 40%);
  --bs-code-color: #575757;
  --bs-code-inline-bg: #f0f0f0; 
  --bs-code-block-bg: #f9f9f9; 
  
  --bs-blue-dark: #00a0ff;
  --bs-purple-dark: #6f42c1;
  --bs-red-dark: #fb5151;
  --bs-body-color-dark: #cfcfcf;
  --bs-body-bg-dark: #272727;
  --bs-border-color-dark: #404040;
  --bs-link-color-dark: #00a0ff;
  --bs-link-unfocused-color-dark: #00a0ffb0;
  --bs-link-visited-color-dark: #0487d7;
  --bs-code-color-dark: #aaa;
  --bs-code-inline-bg-dark: #363636; 
  --bs-code-block-bg-dark: #2e2e2e; 
}


/*
 * Global resets
 *
 * Update the foundational and global aspects of the page.
 */

/* Prevent scroll on narrow devices */
html,
body {
  overflow-x: hidden;
}

html {
  font-family: system-ui, Roboto, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
  color: var(--bs-body-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: system-ui, Roboto, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
  color: var(--bs-body-color);
  /* letter-spacing: -.025rem; */
}

a {
  color: var(--bs-link-color);  /* bright blue */
  text-decoration: none;
  text-decoration-skip-ink: all;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
a:hover,
a:focus {
  text-decoration: underline;
  text-decoration-thickness: auto;
}
a:visited {
  color: var(--bs-link-visited-color);
}

header + main {
  margin-top: 5.5rem; /* avoid CSS conflict with fixed navbar */
}

:focus-visible {
  outline: #0d59f260 solid 2px; /* mainly for #font-select */
}


/* Code */
code { /* inline */
  padding: .1em .3em;
  font-size: 85%;
  background-color: var(--bs-code-inline-bg);
  border-radius: .425rem; /* 7px */
}
code, pre {
  font-family: var(--bs-font-monospace);
  color: var(--bs-code-color); 
}
pre {
  border-radius: 0.875rem;
}
/* code block margins */
/* figure.highlight { 
  margin-inline-start: .5rem;
  margin-inline-end: .5rem;
} */

/* Tables */
table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}
td, th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}


/* Forms */
.form-control {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg); 
  border-color: var(--bs-border-color); 
}
.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg); 
}
.btn {
  --bs-btn-color: var(--bs-body-color);
  --bs-btn-hover-bg: var(--bs-code-inline-bg); 
}
.btn:hover {
  color: var(--bs-btn-color); 
  background-color: var(--bs-btn-hover-bg); 
}


/*
 * Container
 *
 * Center the page content.
 */

.container.content {
  max-width: 28rem;
}
@media (min-width: 38em) {
  .container.content {
    max-width: 32rem;
  }
}
@media (min-width: 56em) {
  .container.content {
    max-width: 38rem;
  }
}



/* Header
 *
 * Navbar & nav from Bootstrap
 *
 */

.navbar {
  --bs-navbar-padding-y: .25rem; 
  --bs-navbar-color: #0d59f280;
  --bs-navbar-hover-color: var(--bs-blue); 
  --bs-navbar-active-color: var(--bs-blue);  /* blue */
  --bs-navbar-brand-font-size: 1rem;
  --bs-navbar-brand-color: #fb5151; /* red */
  --bs-navbar-brand-hover-color: #fb515180;
  --bs-navbar-toggler-font-size: 1rem;
  --bs-navbar-toggler-icon-bg: none; 
  --bs-navbar-toggler-focus-width: 0;
  --bs-navbar-toggler-transition: 0;
  background-color: var(--bs-body-bg);
  box-shadow: 0 0 1rem #0001; 
}
.navbar a.navbar-brand {
  color: var(--bs-red); 
  font-family: var(--bs-body-font-family); 
  font-size: 1rem;
  font-weight: 600;
  margin-left: 8px; /* left align with nav-items */
}
.navbar a.navbar-brand:hover {
  font-weight: bold;
  text-decoration: none;
}
.navbar a.navbar-brand:visited {
  color: var(--bs-red); 
}
.navbar-toggler {
  color: var(--bs-blue); 
  border: none;
}
.navbar-toggler:hover {
  color: var(--bs-link-unfocused-color); 
}
.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-collapse {
  border-radius: .75rem;
  background-color: var(--bs-body-bg);
  padding-left: .5rem;
}
@media (min-width: 992px) {
  .navbar-collapse {
    background-color: unset; 
    box-shadow: unset; 
    padding-left: unset; 
  }
}
.navbar-nav.mx-auto {
  padding-right: 15.5px;
}
.nav-item {
  align-items: center;
  margin-bottom: 0;
}
.navbar-nav .nav-link, 
.navbar-nav .nav-link:visited {
  color: var(--bs-link-unfocused-color);
  font-weight: 600; 
}
.navbar-nav .nav-link:hover, 
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link.active {
  color: var(--bs-link-color); 
  text-decoration: none;
}

/* /* .nav-item.font-select {
  height: 1.5rem; 
  width: 4rem; 
} */
/* .nav-item #font-select {
  font-family: inherit;
  font-size: 1rem;
  color: inherit;
  text-align: center;
  text-overflow: ellipsis;
  appearance: none;
  -webkit-appearance: none;
  background-image:
    url("data:image/svg+xml,%3Csvg%20fill%3D%22none%22%20height%3D%2224%22%20width%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3CclipPath%20id%3D%22a%22%3E%3Cpath%20d%3D%22M0%200h24v24H0z%22%2F%3E%3C%2FclipPath%3E%3CclipPath%20id%3D%22b%22%3E%3Cpath%20d%3D%22M0%200h24v24H0z%22%20transform%3D%22rotate(90%2012%2012)%22%2F%3E%3C%2FclipPath%3E%3Cg%20clip-path%3D%22url(%23a)%22%3E%3Cg%20clip-path%3D%22url(%23b)%22%3E%3Cpath%20d%3D%22M17%208.875l-2.208-2.152c-1.319-1.287-1.978-1.93-2.792-1.93s-1.473.643-2.792%201.93L7%208.875m10%206.25l-2.208%202.152c-1.319%201.287-1.978%201.93-2.792%201.93s-1.473-.643-2.792-1.93L7%2015.125%22%20stroke%3D%22%230d59f2%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%222%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"); 
  background-size: 10%;
  background-position: 98% 50%;
  background-repeat: no-repeat;
  background-color: var(--bs-code-inline-bg); */
  /* height: 1.5rem;  */
  /* make it inline with label */
  /* width: 4rem; 
  padding: 0 1rem 0 .5rem;
  border-width: 0;
  border-radius: 1rem;
  margin: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
} */
 /* parent a to inherit link color */
/* .nav-item a.font-select {
  position: relative; 
  bottom: 3.25%; 
  right: 28%
}
.nav-item svg.font-select {
  height: .9rem; 
  width: .9rem; 
} */
.font-radios.nav-link.btn-group {
  padding-top: .375rem;
  padding-bottom: .375rem;
  height: 2.5rem; 
}
.font-radios .nav-link.btn, 
.font-radios.btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
  padding: 0 .25rem; 
  height: 1.5rem; 
  border-width: 0;
  border-radius: .375rem; 
}
.font-radios .btn.show {
  border-color: transparent; 
  background-color: transparent;
}
.font-radios svg {
  color: inherit; 
  height: 18px; 
  width: 18px; 
}
.font-radios .dropdown-menu {
  color: var(--bs-body-color); 
  background-color: var(--bs-code-block-bg);
  border-width: 0;
  /* -webkit-transition: visibility .2s ease-in-out;
  -moz-transition: visibility .2s ease-in-out;
  transition: visibility .2s ease-in-out; */
  box-shadow: 0 0 1rem #0002;
  display: none; 
}
.font-radios .dropdown-menu.show {
  display: block
}
.font-radios .dropdown-item-text {
  color: var(--bs-body-color); 
  font-weight: normal;
  width: 100%;
  white-space: nowrap;
}
.font-radios .dropdown-menu ul {
  padding-left: 0;
  list-style: none;
}
.font-radios input[type=radio], 
.font-radios label {
  cursor: pointer; 
}
input[type=radio] {
  -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none; 
  border-radius: 50%;
  width: .75rem;
  height: .75rem;
  border: .1rem solid var(--bs-border-color);
  transition: 0.2s all linear;
  margin-right: .25rem;
  /* position: relative;
  top: .07rem; */
}
input[type=radio]:checked {
  border: .2rem solid var(--bs-red);
}
.font-radios label:hover, 
.font-radios label:focus {
  color: var(--bs-link-color); 
}

@media (max-width: 992px) {
  .font-radios .nav-link.btn, 
  .font-radios.btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    padding: 0 0; 
    border-radius: .375rem; 
  }
  .font-radios .dropdown-menu {
    width: 100%; 
  }
}


/*
 * Footer
 *
 */

footer.footer {
  --bs-footer-color: #808080;
  --bs-footer-color-dark: #666; 
  --bs-footer-social-media-color: #ccc; 
  --bs-footer-social-media-color-dark: var(--bs-footer-color-dark); 

  color: var(--bs-footer-color); 
  background-color: var(--bs-code-block-bg);
}

.branding {
  font-size: .9rem; 
}
.branding a {
  color: inherit; 
}
.branding a:hover, 
.branding a:focus {
  color: #ffe01b; 
  text-decoration: none; 
}
.branding svg {
  height: .9rem; 
  width: auto; 
  margin-bottom: .25rem; 
}


.social-media a {
  color: var(--bs-footer-social-media-color);
  display: inline-block;
}
.social-media a:hover,
.social-media a:focus {
  color: var(--bs-link-color); 
}
.social-media svg {
  width: 1.2rem; 
  height: 1.2rem; 
}

#acknowledgements,
#acknowledgements:visited {
  color: var(--bs-footer-social-media-color);
}
#acknowledgements:hover,
#acknowledgements:focus {
  color: var(--bs-footer-color);
}



/*
 * Posts and pages
 *
 * Each post is wrapped in `.post` and is used on default and post layouts. Each
 * page is wrapped in `.page` and is only used on the page layout.
 */

.page,
.post {
  margin-bottom: 4em;
}


/* Blog post or page title */
.page-title,
.post-title,
.post-title a {
  color: #303030;
}
.post-title a:hover,
.post-title a:focus {
  color: #0d59f2;
  text-decoration: none;
}
.page-title,
.post-title {
  margin-top: 0;
}

/* Meta data line below post title */
.post-date {
  display: block;
  font-family: inherit;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #9a9a9a;
}

/* Related posts */
.related {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid #eee;
}
.related-posts {
  font-family: inherit;
  font-weight: 400;
  padding-left: 0;
  list-style: none;
}
.related-posts h3 {
  margin-top: 0;
}
.related-posts h3 a {
  font-family: inherit;
  font-size: 87.5%;
}
.related-posts h3 small {
  font-family: inherit;
  font-weight: 400;
  font-size: 66%;
  color: #999;
}
.related-posts h3 a:hover {
  color: hsl(220deg 90% 60%); /* Blue: hsl(220deg 90% 50%) */
  text-decoration: none;
}
.related-posts li a:hover small {
  color: inherit;
}


/*
 * Pagination
 *
 * Super lightweight (HTML-wise) blog pagination. `span`s are provide for when
 * there are no more previous or next posts to show.
 */

.pagination {
  overflow: hidden; /* clearfix */
  margin-left: -1rem;
  margin-right: -1rem;
  font-family: inherit;
  font-weight: normal;
  color: #ccc;
  text-align: center;
}

/* Pagination items can be `span`s or `a`s */
.pagination-item {
  display: block;
  padding: 1rem;
  border: 1px solid #eee;
}
.pagination-item:first-child {
  margin-bottom: -1px;
}

/* Only provide a hover state for linked pagination items */
a.pagination-item:hover {
  background-color: #f5f5f5;
}

@media (min-width: 30em) {
  .pagination {
    margin: 3rem 0;
  }
  .pagination-item {
    float: left;
    width: 50%;
  }
  .pagination-item:first-child {
    margin-bottom: 0;
    border-top-left-radius:    4px;
    border-bottom-left-radius: 4px;
  }
  .pagination-item:last-child {
    margin-left: -1px;
    border-top-right-radius:    4px;
    border-bottom-right-radius: 4px;
  }
}


/* 
 * Dark Mode 
 *
 */

@media (prefers-color-scheme: dark) {
  :root {
    --bs-blue: var(--bs-blue-dark); 
    --bs-purple: var(--bs-purple-dark); 
    --bs-red: var(--bs-red-dark); 
    --bs-body-color: var(--bs-body-color-dark); 
    --bs-body-bg: var(--bs-body-bg-dark); 
    --bs-border-color: var(--bs-border-color-dark); 
    --bs-link-color: var(--bs-link-color-dark); 
    --bs-link-unfocused-color: var(--bs-link-unfocused-color-dark); 
    --bs-link-visited-color: var(--bs-link-visited-color-dark); 
    --bs-code-color: var(--bs-code-color-dark); 
    --bs-code-inline-bg: var(--bs-code-inline-bg-dark); 
    --bs-code-block-bg: var(--bs-code-block-bg-dark); 
  }

  body, h1, h2, h3, h4, h5, h6 {
    color: var(--bs-body-color-dark);
  }
  body, .navbar {
    background-color: var(--bs-body-bg-dark);
  }

  a, a:hover, a:focus {
    color: var(--bs-link-color-dark); /* lightest blue */
  }
  a:visited {
    color: var(--bs-link-visited-color-dark); /* lighter blue */
  }

  :focus-visible {
    outline: #00a0ff60 solid 2px; /* mainly for #font-select */
  }
  
  code {
    color: var(--bs-code-color-dark);
    background-color: #363636;
  }
  pre { /* code block */
    background-color: var(--bs-code-block-bg-dark);
  }
  
  blockquote {
    color: var(--bs-code-color-dark);
    border-left: .25rem solid var(--bs-border-color-dark);
  }
  
  .message {
    color: var(--bs-code-color);
    background-color: var(--bs-code-block-bg-dark);
  }
  
  table, td, th {
    border: 1px solid var(--bs-border-color-dark);
  }
  tbody tr:nth-child(odd) td,
  tbody tr:nth-child(odd) th {
    background-color: var(--bs-code-block-bg-dark);
  }

  /* Misc */
  strong {
    color: #fff;
  }
  abbr {
    color: #cbcbcb;
  }
  abbr[title] {
    border-bottom: 1px dotted var(--bs-border-color-dark);
  }
  
  hr {
    border-top: 1px solid #aaa;
    border-bottom: 1px solid var(--bs-border-color-dark);
  }


  /* Navbar & Nav */
  .navbar {
    box-shadow: 0 0 1rem #0004; 
  }
  @media (max-width: 992px) {
    .navbar-collapse {
      background-color: var(--bs-body-bg-dark);
    }
  }
  .navbar a.navbar-brand, 
  .navbar a.navbar-brand:visited {
    color: var(--bs-red-dark); 
  }
  .navbar-nav a.nav-link, 
  .navbar-nav a.nav-link:visited {
    color: var(--bs-link-unfocused-color-dark);
  }
  .navbar-nav a.nav-link:hover, 
  .navbar-nav a.nav-link:focus,
  .navbar-nav a.nav-link.active {
    color: var(--bs-link-color-dark); 
}


  /* Footer */
  footer.footer {
    --bs-footer-color: var(--bs-footer-color-dark);
    --bs-footer-social-media-color: var(--bs-footer-social-media-color-dark); 

    background-color: var(--bs-code-block-bg);
  }
  
  .social-media a:hover,
  .social-media a:focus {
    color: var(--bs-link-color);
  }
  
  #acknowledgements {
    color: #555;
  }
  #acknowledgements:hover {
    text-decoration: none;
  }
  
  .page-title, .post-title, .post-title a {
    color: var(--bs-body-color-dark);
  }
  .post-title > a:visited {
    color: var(--bs-body-color-dark);
  }
  .post-title > a:hover,
  .post-title > a:focus {
    color: var(--bs-body-color-dark);
    text-decoration: underline;
  }
    
}